<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link> rel="stylesheet" href="./css/style.css"</link>
    <title>Document</title>
</head>
<body>
    <h1>Oi, estou online!</h1>
</body>
</html>